/* Flex-related code */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Or space-between or space-around */
  }
  
  .flex > section {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
  }
  
  .flex > section > p {
    flex-grow: 1;
  }
  
  /* This rule ist just because of the responsive images */
  @media (max-width: 1600px) {
    .flex > section {  
      max-width: 250px;
    }
  }
  
  .flex ul {
    display: flex;
    justify-content: space-between;
  }
  
  .flex aside {
    width: 100%;
  }
  
  /* Basic styling for UI */
  
  body {
    font: 16px "Titillium Web", sans-serif;
    margin: 0;
  }
  
  img {
    width: 400px;
    border-radius: 2px;
  }
  
  @media (max-width: 1600px) {
    img{
      width: 250px;
    }
  }
  
  h2 {
    font-size: 25px;
  }
  
  .flex > section {
    background: #fff;
    padding: 1em;
    margin: 0.5em;
    border-radius: 4px;
  }
  
  button {
    background: #009999 url(http://i.imgur.com/RWKrr8S.png);
    background-repeat: no-repeat;
    background-position: 2em 50%;
    background-size: 2em;
    border: 0;  
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;  
    font-weight: bold;
    font-size: 13px;
    padding: 1.5em 3em;
    padding-left: 6em;
    text-transform: uppercase;
    display: block;
    width: 100%;
  }
  
  button:hover {
    background-color: #006B6B;
    background-size: 3em;
    background-position: 1.5em 50%;
  }
  
  .flex ul {
    list-style-type: none;
    padding: 0;
  }
  
  .flex li {
    background: #eee;
    font-weight: 700;
    padding: 0.3em 0.6em;
    border-radius: 1em;
  }